<div>
    <h3>User</h3>
    <span>Username: </span><input type="text" [(ngModel)]="this.newNickname" (keyup.enter)="this.changeName()">
    <br>
    <button (click)="this.changeName()">Set nickname!</button><br>
</div>

<div style="margin-top: 1rem;">
    <h3>Session</h3>
    <span>Session: </span><input type="text" [(ngModel)]="this.sessionToJoinOrCreate" (keyup.enter)="this.joinSession()">
    <br>
    <button *ngIf="!this.gameService.player.session" (click)="this.joinSession()">Join session</button>
    <button *ngIf="!this.gameService.player.session" (click)="this.createSession()">Create session</button>
    <button *ngIf="this.gameService.player.session" (click)="this.leaveSession()">Leave session</button>
</div>

<div style="margin-top: 1rem;" *ngIf="this.gameService.currentSessionGame">
    <h3>Game settings</h3>
    <div *ngIf="!this.gameService.currentSessionGame.currentRound">
        <span>Trator to innocent ratio</span><input type="number" [(ngModel)]="this.gameService.currentSessionGame.tratorToInnocentRatio"><br>
        <span>Number of rounds</span><input type="number" [(ngModel)]="this.gameService.currentSessionGame.numberOfRounds"><br>
    </div>
    <div *ngIf="this.gameService.currentSessionGame.currentRound">
        <p>Round: {{this.gameService.currentSessionGame.currentRound}}/{{this.gameService.currentSessionGame.numberOfRounds}}</p>
        <p>You are a: {{this.gameService.player.role || 'something BROKE'}}</p>
    </div>
    <button *ngIf="!this.gameService.currentSessionGame.currentRound" (click)="this.changeSessionGameSettings()">Save!</button>
    <button *ngIf="!this.gameService.currentSessionGame.currentRound" (click)="this.startGame()">Start!</button>
    <button *ngIf="this.gameService.currentSessionGame.currentRound" (click)="this.nextRound()">
        {{this.gameService.currentSessionGame.currentRound >= this.gameService.currentSessionGame.numberOfRounds ? 'Finish!' : 'Next round'}}
    </button>
</div>